*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    width: 100%;
    height: 100%;
    background-color: hsl(227, 75%, 14%);
    z-index: -2;
}

.navbar{
    width: 85%;
    height: 3rem;
    background:hsl(226, 11%, 37%) ;
    color: white;
    margin: auto;
    margin-top: 3rem;
    border-radius: 1rem;
   
}

.nav-logo{
    width: 100%;
    height: 100%;
    margin-left: 2rem;
    align-items: center;
    
}

.nav-logo img{
    color: white;
}


.list{
    width: 85%;
    height: 10rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.list h1{
    color: white;
}





.list .btn{
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color:hsl(225, 23%, 24%) ;
    color: white;

}

.list .btn:hover{
    background-color: hsl(3, 86%, 64%);
    color: hsl(227, 75%, 14%);
    cursor: pointer;

}




.card{
    width: 85%;
    height: 100%;
    margin: auto;
    padding-bottom: 3rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

   
   
}

.container{
    width: 100%;
    height: auto;
    color: white;
   background:hsl(226, 25%, 17%);
   padding: 1rem;
   align-items: center;
   border-radius: 1rem;
   border: 1px solid gray;
   background-size: cover;

}

.container h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: .5rem;
}

.container p{
    margin-top: .5rem;
    line-height: 1.3;
    word-spacing: 1px;
    color:gray ;
}

.btn-container button{
   padding: .5rem;
   border-radius: 1rem;
   margin-top: 1rem;
   border: none;
   color: white;
   border: 1px solid gray;
   background-color:hsl(225, 23%, 24%);
}


/* =========================
   RESPONSIVE DESIGN
========================= */

/* Tablet */
@media (max-width: 992px) {

    .card {
        grid-template-columns: repeat(2, 1fr);
    }

    .list {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        height: auto;
    }

}

/* Mobile */
@media (max-width: 600px) {

    .card {
        grid-template-columns: 1fr;
    }

    .navbar {
        width: 95%;
        margin-top: 1.5rem;
    }

    .list {
        width: 95%;
    }

    .card {
        width: 95%;
    }

    .container {
        padding: 1rem;
    }

}
